# ==========================
# ESP-IDF - fichiers générés
# ==========================

build/
managed_components/

# ==========================
# Configuration locale
# ==========================

sdkconfig
sdkconfig.old

# Lock file (peut être régénéré)
dependencies.lock

# ==========================
# VS Code
# ==========================

.vscode/

# ==========================
# Système
# ==========================

.DS_Store
Thumbs.db

# ==========================
# Logs
# ==========================

*.log

# ==========================
# Sauvegardes
# ==========================

*.bak
*.tmp
*.swp
